/* page index.html */

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3,
h4  {
    color: orange;
}

.nav ul li:first-child {
    margin-left: 150px;
}

.nav ul li {
    display: inline-block;
    margin: 40px 80px 0 0;
}

.margesvg   {
    margin-top: 40px;
}

/* header 

.nav-item a,
.nav-item svg {
    margin-left: 20px;
} 



.nav-item a:hover    {
    background-color: orange;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}

header nav {
    box-shadow: 5px 10px 10px lightgray;
}

.image {
    padding-left: 150px;
}

 main section 1 */

.head {
    display: inline-block;
}

.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(48, 85, 207);
    text-transform: uppercase;
    
}

.title > h1 {
   font-size: 4vw; 
}

.contImg    {
    position: relative;
}

.textImage  {
    position: absolute;
    top: 3vh;
    left: 6vw;
    font-family: 'Brush Script MT';
    font-size: 5vw;
    color:darkslateblue;
}



.but1{
    margin-top: 55px;
    margin-bottom: 10px;
}

.button1 {
    background-color: darkorange;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    border-radius: 50px;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


    
    

.button2,
.button5    {
    background-color: rgb(255, 123, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 40px;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}

.description {
    text-align: center;
    background-color: rgb(48, 85, 207);
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
}

.declaration {
    background-color: grey;
    color: white;
    text-align: center;
    padding: auto;
    font-weight: bold;
    padding-top: 20px;
}

/* main section 2 */

.welcome {
    margin-top: 100px;
}

.welcome h3 {
    font-size: 80px;
    color: rgb(78, 149, 216);
    font-family: 'Brush Script MT';
}

.pattes {
    margin-top: 100px;
    margin-left: 150px;
}

article {
    width: 700px;
    text-align: center;
}

.art1 {
    margin-top: 80px;
}

.button3 {
    border-radius: 50px;
    background-color:  rgb(48, 85, 207);
    width: 200px;
    padding: 15px;
    text-align: center;
}

.button3 a {
    text-decoration: none;
    color: white;
}

.text {
    text-align: center;
}

/* main section 3 */

.cat {
    margin: 20px;
    height: 700px;
    padding: 10px;
}

.butdown {
    position: absolute;
    bottom: 20px;
}

.catitle {
    color: rgb(78, 149, 216);
    font-family: 'Brush Script MT';
    text-align: center;
    padding-top: 130px;
    font-size: 100px;
}

h3 {
    font-family: 'Brush Script MT';
    font-size: 40px;
    text-align: center;
}

div h3 p {
    text-align: center;
}

.button4 {
    border-radius: 50px;
    background-color:  rgb(48, 85, 207);
    padding: 10px;
    text-decoration: none;
    color: white;
}

/* footer */

.foot {
    margin-top: 50px;
    position: relative;
    height: 600px;
    background-color: rgb(48, 85, 207);
}

.contact {
    width: 700px;
    height: 350px;
    position: absolute;
    left: 200px;
    top: 100px;
    border: white 1px solid;
    border-radius: 50px;
}

footer div p {
    text-align: center;
    margin: 20px;
    color: white;
    font-family: 'Brush Script MT';
    font-size: 50px;
}

.formulaire {
    margin: 20px;
}

.button5 {
    margin: 15px 30px 10px 500px;
}

/* page actualite.html */

.cat5 {
    margin-top: 100px;
}

.cat5 > img {
    border-radius: 20px;
}

.invit {
    color: orange;
    font-family: 'Brush Script MT';
}